* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

body {
    max-width: 980;
    margin: auto;
    background-color: rgba(245, 245, 245, 0.65);
    color: #3F51B5;
}
button {
    color: #3F51B5;
}
svg {
    border: solid 3px #607D8B;
}
#svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#btn-container {
    margin: 20px auto;
    text-align: center;
}
#title {
    text-align: center;
}